
<h3><%= @crystals %><rb>

<form action="/crystals/<%=@crystals%>" method= "POST">
<input type="hidden" id= "hidden" name "_method" value="patch">

    <label>New Crystal</label><br>
    <textarea value="<%=@crystals %>" name="content" cols="35"></textarea><br>
    <label>Purpose</label><br>
    <textarea value="<%=@crystals %>" name="content" cols="35"></textarea><br>
    <button id="submit" type="submit">Add New Crystal</button>
    </form>

<h2>Delete</h2>

<form action="/crystals/<%= @crystals %>" method= "POST">
<input type="hidden" id= "hidden" name "_method" value="delete">
<input type="submit" value "Delete Crystal">
</form>