<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome back to the Mystik Misteries!</h2>

     <% if is_logged_in? && current_user.id.to_s == params[:id] %>
     <h3>Hello, <%= current_user.username %>! </h3>
        <%else%>
       <h3> <b> Crystals by <%= @user.username %>: </b> </h3> 
     <%end%>

        <%if @user.crystals.length > 0 %>

    <% @user.crystals.each do |crystal| %>
    <p> <a href="/crystals/<%=crystal.id%>"><%= crystal.name%>:</a> </p>
    <p> <%= crystal.purpose%> </p>

    <% if is_logged_in? && current_user.id.to_s == params[:id] %>
       <!-- <a href="/crystals/<%= crystal.id %>/edit"><button>Edit</button></a>
        <form method="post" action="/crystals/<%=crystal.id%>/delete" style="display: inline-block;">
            
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete" />
        </form> -->
    <%end%>
    </p>  
    <%end%>

    <%else%>

        <p>No Crystals have been created or to be shown</p>

    <%end%>
<hr>

<h5> <a href="/crystals/new"> Create a crystal </a> | <a href="/crystals"> See All Crystals </a></h5>

    <div class="sidebar">
      <h3>Self-Love Quotes:</h3>
      <ul>
        <li><b>“Breathe. Let go. And remind yourself that this very moment is the only one you know you have for sure.” By Oprah Winfrey</li><br>
        <li><b>"You were born to be real, not to be perfect."</li><br>
        <li><b>"In order to love who you are, you cannot hate the experiences that shaped you."</li><br>
        <li><b>"Believe in yourself a little more."</li><br>
      </ul>
    </div>

  </div>
</div>