<h1>Edit Crystal.</h1>
<% if @crystal.errors.any? %>
    <h2><%= @crystal.errors.count %> Cannot edit crystal</h2>
    <ul>
    <% @crystal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>


<div class="form-container">
  <form action="/crystals/<%= @crystal.id %>" method="post">
  
    <div class="form-group">
      <label for="name">Crystal Name:</label> 
      <input id="name" name="crystal[name]" type="text" value="<%= @crystal.name %>" class="form-control" required/>
    </div>
    <div class="form-group">
      <label for="purpose">Purpose:</label> 
      <input id="purpose" name="crystal[purpose]" type="textarea" value="<%= @crystal.purpose %>" class="form-control" required/>
    </div>
    <input id="hidden" type="hidden" name="_method" value="patch">
      <input type="submit" value="Update Joke">
  </form>
</div>

<h5><a href="/users/session[:user_id]">Or return to Homepage</a></h5>