<h4><b> Name of Crystal: </b></h4>
<br>
<p><%= @crystal.name %></p>
 <p><%= @crystal.purpose %></p> 
 <i>Created by: <a href="/users/<%= @crystal.user.id%>"> <%= @crystal.user.username %> </a> </i> 


<div>
<% if is_logged_in? && authorize_crystal(@crystal)%>
  <div>
  <br/>
    <a href="/crystals/<%= @crystal.id %>/edit"><button>Edit</button></a> | 
    <form method="post" action="/crystals/<%=@crystal.id%>/delete" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
  </div>

<% end %>

</div>
<br/> 
<h5> <a href="/crystals/new"> Create a crystal </a> | <a href="/crystals"> See All Crystals </a> | <a href="/users/<%=session[:id]%>"> Back to your profile </a></h5>
